<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    input{
        width: 30%;
    }
</style>
<body>
<th:block th:replace="~{fragments/frame::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <form th:action="@{/modify}" th:object="${form}" method="post">
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input id="name" type="text" th:field="*{name}" class="form">
                <input id="nickname" type="text" th:field="*{nickname}" class="form-control form-control-sm">
                <input id="phone" type="text" th:field="*{phone}" class="form-control form-control-sm">
                <input id="city" type="text" th:field="*{city}" class="form-control form-control-sm">
                <input id="street" type="text" th:field="*{street}" class="form-control">
                <input id="zipcode" type="text" th:field="*{zipcode}" class="form-control">
                <input id="brand" type="text" th:field="*{brand}" class="form-control">

            </div>
            <button type="submit">완료</button>
        </form>
    </th:block>
</th:block>
</body>

</html>