
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/frame::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1> Board List
      <span>
        </span>
    </h1>

      <div class="input-group">
        <input type="hidden" name="page" value="1">
        <div class="input-group-prepend">
          <select class="form-control custom-select" name="type" style="border-radius: 0;">

          </select>
        </div>
        <div id="button-addon4" class="input-group-append">
          <button class="btn btn-outline-secondary searchBtn" type="button">Search</button>
          <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">bno</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">RegDate</th>
      </tr>
      </thead>

      <style>
        .tr-list{cursor: pointer;}
        .tr-list:hover{background-color: #d6e7ff;}
      </style>


      <div class="myAccount p-5">
        <!-- 이미지 -->
        <div class="imgBox position-relative">
          <div class="picDiv position-absolute">
            <div class="filebox">
              <label
                      for="ex_file"
                      class="bi bi-camera picIcon position-absolute"
              ></label>
              <input type="file" id="ex_file" />
            </div>
          </div>
          <img class="imgIcon" src="../assets/dummy.webp" />
        </div>
        <div class="nameDiv mt-2">
          <span class="fs-4 name">Jiyoung</span>
        </div>

        <!-- 폼 -->
        <form class="row g-3 mt-3 myAccountForm pe-5 ps-5">
          <div class="col-md-3 w-50">
            <label for="inputEmail4" class="form-label">이름</label>
            <input type="email" class="form-control" id="inputEmail4" />
          </div>

          <div class="col-md-6 w-50">
            <label for="inputEmail4" class="form-label">닉네임</label>
            <input type="email" class="form-control" id="inputEmail4" />
          </div>

          <div class="col-12">
            <label for="inputAddress" class="form-label">자기소개</label>
            <textarea
                    class="form-control aboutMe"
                    id="exampleFormControlTextarea1"
                    rows="3"
            ></textarea>
          </div>

          <div class="col-md-2 w-15">
            <label for="inputState" class="form-label">생년월일</label>
            <select id="inputState" class="form-select">
              <option selected>년도</option>
              <option v-for="i in 82" :key="i">{{ i + 1940 }}</option>
            </select>
          </div>

          <div class="col-md-2 w-15">
            <label for="inputState" class="form-label"> </label>
            <select id="inputState" class="form-select mt-2">
              <option selected>월</option>
              <option v-for="i in 12" :key="i">{{ i }}</option>
            </select>
          </div>
          <div class="col-md-2 w-15">
            <label for="inputState" class="form-label"> </label>
            <select id="inputState" class="form-select mt-2">
              <option selected>일</option>
              <option v-for="i in 31" :key="i">{{ i + 1940 }}</option>
            </select>
          </div>

          <div class="col-md-2 number w-15">
            <label for="inputState" class="form-label">전화번호</label>
            <select id="inputState" class="form-select">
              <option selected>번호</option>
              <option>010</option>
              <option>011</option>
            </select>
          </div>
          <div class="col-md-2 number w-15">
            <label for="inputState" class="form-label"></label>
            <input type="text" class="form-control mt-2" id="inputZip" />
          </div>

          <div class="col-md-2 number w-15">
            <label for="inputState" class="form-label"></label>
            <input type="text" class="form-control mt-2" id="inputZip" />
          </div>

          <div class="col-md-6 w-50">
            <label for="inputPassword4" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="inputPassword4" />
          </div>
          <div class="col-md-6 w-50">
            <label for="inputPassword4" class="form-label">비밀번호 변경</label>
            <input type="password" class="form-control" id="inputPassword4" />
          </div>

          <div class="col-12">
            <div class="form-check form-switch">
              <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      checked
              />
              <label class="form-check-label"
              >신규  알림</label
              >
            </div>
          </div>
          <div class="col-12">
            <div class="form-check form-switch">
              <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      checked
              />
              <label class="form-check-label"
              >신규  알림</label
              >
            </div>
          </div>
          <div class="col-12">
            <div class="form-check form-switch">
              <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      checked
              />
              <label class="form-check-label"
              >새 알림</label
              >
            </div>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">수정하기</button>
          </div>
        </form>
      </div>


    <!-- 부트스트랩 -->
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary"> Save changes </button> -->
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      window.onload = function(){
        var msg = /*[[${msg}]]*/ "msg";

        if (msg) {

          const bno = msg.split(" ")[0];
          const noti = msg.split(" ")[1];

          console.log(msg);
          var myModal = new bootstrap.Modal(document.getElementById('myModal'),
                  { backdrop: true })
          document.querySelector(".modal-title").textContent=noti+' 완료'
          document.querySelector(".modal-body").innerHTML=
                  `<p>${bno}번 글이 ${noti}되었습니다.</p>`
          myModal.show();
        }

        const searchForm = document.querySelector('#searchForm');
        const btnSrch = document.querySelector('.searchBtn');
        const btnClear = document.querySelector('.clearBtn');
        const selectType = document.querySelector("select[name='type']");

        btnSrch.onclick = () => document.querySelector('#searchForm').submit();
        btnClear.onclick = function(){
          document.querySelector("select[name='type']").options[0].selected=true;
          document.querySelector("input[name='keyword']").value="";
        }
        selectType.onchange = function(){
          if(selectType.options[0].selected!=true){
            document.querySelector("input[name='keyword']").disabled = false;
          } else {
            document.querySelector("input[name='keyword']").value = "";
            document.querySelector("input[name='keyword']").disabled = true;
          }
        }
      }
    </script>

  </th:block>
</th:block>
</html>

